<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Prep Eat</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">



	<link rel="stylesheet" href="static/menu/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/menu/css/animate.min.css">
	<link rel="stylesheet" href="static/menu/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/menu/css/nivo-lightbox.css">
	<link rel="stylesheet" href="static/menu/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="static/menu/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>


<section class="preloader">
	<div class="sk-spinner sk-spinner-pulse"></div>
</section>


<section class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Prep Eat</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">Дом</a></li>
				<li><a href="#gallery" class="smoothScroll">Меню</a></li>
				<li><a href="#menu" class="smoothScroll">Цены</a></li>
				<li><a href="#team" class="smoothScroll">Управляющие</a></li>
				<li><a href="#contact" class="smoothScroll">Контакт</a></li>
			</ul>
		</div>
	</div>
</section>


<!-- home section -->
<section id="home" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1>PREP EAT</h1>
				<h2>УЮТНО &amp; СПОКОЙНО И ПРАКТИЧНО</h2>
				<a href="#gallery" class="smoothScroll btn btn-default">УЗНАТЬ БОЛЬШЕ</a>
			</div>
		</div>
	</div>		
</section>


<!-- gallery section -->
<section id="gallery" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Каталог еды:</h1>
				<hr>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
				<a href="static/menu/images/gallery-img1.jpg" data-lightbox-gallery="zenda-gallery"><img src="static/menu/images/gallery-img1.jpg" alt="gallery img"></a>
				<div>
					<h3>Самса</h3>
					<span>С курицей /С сыром /С мясом</span>
				</div>
				<a href="static/menu/images/gallery-img2.jpg" data-lightbox-gallery="zenda-gallery"><img src="static/menu/images/gallery-img2.jpg" alt="gallery img"></a>
				<div>
					<h3>Сосиска в тесте</h3>
					<span>Запеченые/Жаренные</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<a href="static/menu/images/gallery-img3.jpg" data-lightbox-gallery="zenda-gallery"><img src="static/menu/images/gallery-img3.jpg" alt="gallery img"></a>
				<div>
					<h3>Сэндвич Круассан</h3>
					<span>Соус/ Курица/Салат</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<a href="static/menu/images/gallery-img4.jpg" data-lightbox-gallery="zenda-gallery"><img src="static/menu/images/gallery-img4.jpg" alt="gallery img"></a>
				<div>
					<h3>Салаты </h3>
					<span>Оливье/Винегрет</span>
				</div>
				<a href="static/menu/images/gallery-img5.jpg" data-lightbox-gallery="zenda-gallery"><img src="static/menu/images/gallery-img5.jpg" alt="gallery img"></a>
				<div>
					<h3>Пицца Пепперони</h3>
					<span>Сыр / Колбаса</span>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- menu section -->
<section id="menu" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Специальное меню</h1>
				<hr>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Самса ................ <span>350тг</span></h4>
				<h5>с курицей/с сыром/с мясом</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Сосиска в тесте........................... <span>300тг</span></h4>
				<h5>Запеченные/Жареные</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Сэндвич круассан........................ <span>700тг</span></h4>
				
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Салаты.......................... <span>550тг</span></h4>
				<h5>Оливье/Винегрет</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Пицца Пепперони ...................... </span>550тг</span></h4>
				<h5></h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4> 
					 Булочка с шоколадом........................ <span>400тг</span></h4>
				
			</div>
			<div class="col-md-6 col-sm-6">
				
			</div>
			<div class="col-md-6 col-sm-6">

			</div>
		</div>
	</div>
</section>		


<!-- team section -->
<section id="team" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1><p>Наш сайт создан усилиями нескольких человек,с целью облегчить жизнь студентов нашего университета</p></h1>
				<h1 class="heading">Управляющие</h1>
				<hr>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
				<img src="static/menu/images/team01.jpeg" width="349" class="img-responsive center-block" alt="team img">
				<h3>Ожан Көркем</h3>
				<h3><a href="https://t.me/+9N2UcvvXBvUzMzFi"></a></h3>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<img src="static/menu/images/team0.jpeg" width="299" class="img-responsive center-block" alt="team img">
				<h3>Сапар Алихан</h3>
				<h3><a href="https://t.me/+9N2UcvvXBvUzMzFi"><em><ins>TELEGRAMM</ins></em></a> </h3>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<img src="static/menu/images/team03.jpeg" width="250" class="img-responsive center-block" alt="team img">
				<h3>Сағатбек Алибек</h3>
				<h4><a href="https://t.me/+9N2UcvvXBvUzMzFi"></a></h4>
				
			</div>
		</div>
	</div>
</section>


<!-- contact section -->
<section id="contact" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
				<h1 class="heading">Связаться с нами</h1>
				<hr>
			</div>
			<div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
				<form action="{% url 'menu:send'%}" method="post">
					{% csrf_token %}
					<div class="col-md-6 col-sm-6">
						<input name="name" type="text" class="form-control" id="name" placeholder="Имя">
				  </div>
					<div class="col-md-6 col-sm-6">
						<input name="НОМЕР" type="НОМЕР" class="form-control" id="НОМЕР" placeholder="Номер">
				  </div>
					<div class="col-md-12 col-sm-12">
						<textarea name="message" rows="8" class="form-control" id="message" placeholder="что хотели бы заказать?"></textarea>
					</div>
					<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
						<input name="submit" type="submit" class="form-control" id="submit" value="Прием заказа">
					</div>
				</form>
			</div>
			<div class="col-md-2 col-sm-1"></div>
		</div>
	</div>
</section>


<!-- footer section -->
<footer class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Контактная информация.</h2>
				<div class="ph">
					<p><i class="fa fa-phone"></i> Телефон</p>
					<h4>+7 705 729 90 29 <br>
						+7 775 519 73 38 <br>
						+7 777 619 20 05
					</h4>
				</div>
				<div class="address">
					
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">График работы</h2>
					<p>понедельник <span>13:00 - 18:00</span></p>
					<p>вторник <span>12:00 - 18:00</span></p>
					<p>среда <span>10:00 - 18:00</span></p>
					
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Подписывайтесь на нас</h2>
				<ul class="social-icon">
					<li><a href="#" class="fa fa-facebook wow bounceIn" data-wow-delay="0.3s"></a></li>
					<li><a href="#" class="fa fa-twitter wow bounceIn" data-wow-delay="0.6s"></a></li>
					<li><a href="#" class="fa fa-behance wow bounceIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-dribbble wow bounceIn" data-wow-delay="0.9s"></a></li>
          <li><a href="#" class="fab fa-telegram wow bounceIn" data-wow-delay="0.9s"></a></li>
         
          
					<div>
            

             
              </div>
				</ul>
          </div>
				</ul>
			</div>
      
		</div>
	</div>
</footer>



<!-- copyright section -->
<section id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>Prep Eat
				</h3>
				<p>СВЯЗЫВАТЬСЯ С НАМИ ХОРОШО 
          <div style="text-align: right; color: rgb(146, 25, 25);"></div>
					<b> <a rel="nofollow" href="https://t.me/+9N2UcvvXBvUzMzFi" target="_parent"> TELEGRAMM😄</a></p></b>
			</div>
      <h6>Мы не несем ответственности за употребление пищи в аудиториях!.</h6>
		</div>
	</div>
</section>

<!-- JAVASCRIPT JS FILES -->	
<script src="static/menu/js/jquery.js"></script>
<script src="static/menu/js/bootstrap.min.js"></script>
<script src="static/menu/js/jquery.parallax.js"></script>
<script src="static/menu/js/smoothscroll.js"></script>
<script src="static/menu/js/nivo-lightbox.min.js"></script>
<script src="static/menu/js/wow.min.js"></script>
<script src="static/menu/js/custom.js"></script>

</body>
</html>